In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from wordcloud import STOPWORDS
import re
import warnings 
warnings.filterwarnings('ignore')

In [20]:
# Importing Dataset
Ticket_df=pd.read_csv("supportTicketdata.csv",encoding='latin1')

print(Ticket_df.shape)
Ticket_df.head(5)

(19796, 2)

                                                body urgency
0  connection issues with assigned address hi fac...      P1
1  cannot access hi cannot access fallowing link ...      P2
2  re address shown valid dear colleagues remarke...      P1
3  sent tuesday critical alert following alert oc...      P2
4  code spelling mistake hello should discover fo...      P2

In [10]:
re.sub(r'\b\w{1,3}\b',r' ',"he is the lame")

'      lame'

### Text Formatting to remove useless data

In [21]:
# Defining function to remove special characters and stopwords
def str_format(inp): 
    inp=re.sub(r'[^a-z A-Z 0-9]',r' ',inp)
    inp=re.sub(r'\b\w{1,3}\b',r' ',inp) # Removing Words with length less than or equal 3 these are mostly stopwords
    inp=re.sub(r' +',' ',inp)
    return inp.strip()

Ticket_df['body']=Ticket_df['body'].apply(str_format)
Ticket_df['body']=Ticket_df['body'].apply(lambda x:x.lower())

Ticket_df['body'].head()

0    connection issues with assigned address facing...
1    cannot access cannot access fallowing link bla...
2    address shown valid dear colleagues remarked n...
3    sent tuesday critical alert following alert oc...
4    code spelling mistake hello should discover co...
Name: body, dtype: object

### Converting the Textual data to vectors using TF-IDF Vectorizer

In [34]:
from sklearn.feature_extraction.text import TfidfVectorizer

tf=TfidfVectorizer()

X=tf.fit_transform(Ticket_df['body'].values).toarray()
print(X.shape)
print(tf.get_feature_names()[:20]) # getting some selected features

(19796, 8864)
['abandon', 'abandoned', 'abeam', 'abilities', 'ability', 'able', 'abnormal', 'abnormally', 'aboard', 'abort', 'aborted', 'aborting', 'about', 'above', 'abroad', 'absence', 'absences', 'absent', 'absolutely', 'absorption']

* Creating Vectorized Dataframe

In [48]:
Vectorized_df=pd.DataFrame(X,columns=tf.get_feature_names())
Vectorized_df['Ticket_Priority']=Ticket_df['urgency']
Vectorized_df.head()

,abandon,abandoned,abeam,abilities,ability,able,abnormal,abnormally,aboard,abort,...,zero,zeus,zipped,zipper,zipping,zone,zones,zoom,zooming,Ticket_Priority
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,P1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,P2
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,P1
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,P2
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,P2

### Applying PCA to reduce the Dimensions of data
* Since Data has high Dimensionality it can carry curse of dimensionality and affect the model hence we have to reduce the dimension of data using Principle Components

In [49]:
from sklearn.decomposition import PCA

pca=PCA(n_components=5000)
pca_fit=pca.fit(X) 
pca_fit.transform(X)

In [2]:
pca_fit.explained_variance_ratio_()

NameError: name 'pca_fit' is not defined